/*ensures/forces line breaks for long URLs*/
a {
	word-wrap: break-word;
}

#selectTasklist {
	font-size: 20px;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 20px;
}

#toggleBtns {
	margin-top: 20px;
}

#toggleNotes {
	margin-bottom: 10px;
}

#toggleNoDate {
	margin-bottom: 10px;
}

/*task list titles*/
.taskListTitle:hover, 
.taskListTitle:active,
.listActive {
	background-color: #683273;
	color: #f7f8f8;
}

.listInactive {
	background-color: #63C29C;
	color: #666666;
}

.taskListTitle {
	width: 50%;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	display: inline;
}

#taskListTitle {
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;
}

button {
	background-color: #63C29C;
	color: #666666;
}

button:hover, 
button:active,
.btnActive {
	background-color: #683273;
	color: #f7f8f8;
}

#message {
	margin-top: 20px;
	font-size: 16px;
	color: red;
}

#tasks{
	margin-top: 20px;
}

.dateContainer {
	margin-top: 10px;
	width: 80%;
	border: 1px solid gray;
	border-radius: 8px;*/
	padding-bottom: 10px;
	background-color: #D3D3D3;
}

.date {
	background-color: #63C29C;
	color: #F7F8F8;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	font-size: 16px;
	padding-top: 3px;
	padding-left: 10px;
}


.taskTitle:before {
	content:"* ";
}

.task {
	margin: 15px;
	color: #666666;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 8px;
	background-color: #63C29C;
	
}

.notes {
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 8px;
	padding-left: 20px;
	background-color: #D3D3D3;
	font-style: italic;
	color: #666666;
}